<html>
	<head>
		<title>History - Intraspect</title>
	</head>
	<body>
		<div class="nav">
			<div>Profile</div>
			<div>History</div>
			<div><a href="/">Home</a></div>
			<div>Analytics</div>
			<div>Settings</div>
		</div>
		
		<p>History</p>
	</body>
</html>