<html>
	<head>
		<title>History - Intraspect</title>
	<link href="/css/main.css" rel="stylesheet">

	</head>
	<body>
		<div class="nav">
			<a href="/">Home</a>
			<a href="/history">History</a>
			<a href="/profile">Profile</a>
			<a href="/analytics">Analytics</a>
			<a href="/settings">Settings</a>
		</div>
		<center>
			<h1>History</h1>	
		</center>
		

		<div class="container">
			<center>
			<article class="module">
				<img src="http://images.clipartpanda.com/smiley-face-png-96527038_o.png" alt="" class="module__image">
				<span class="module__score">7</span>
				<br>
				<img src="https://cdn0.iconfinder.com/data/icons/iconico-3/1024/42.png" alt="">
				
				<span class="module__time">18:36</span><br>
				<img src="http://pixsector.com/cache/0266455f/ava13c3ac53812cde1b88.png" alt="">
				<span class="module__date">2/4</span>
			</article><article class="module">
				<img src="http://images.clipartpanda.com/smiley-face-png-96527038_o.png" alt="" class="module__image">
				<span class="module__score">7</span><br>
				<img src="https://cdn0.iconfinder.com/data/icons/iconico-3/1024/42.png" alt="">
				<span class="module__time">18:36</span><br>
				<img src="http://pixsector.com/cache/0266455f/ava13c3ac53812cde1b88.png" alt="">
				<span class="module__date">2/4</span>
			</article>
			<article class="module">
				<img src="http://images.clipartpanda.com/smiley-face-png-96527038_o.png" alt="" class="module__image">
				<span class="module__score">7</span><br>
				<img src="https://cdn0.iconfinder.com/data/icons/iconico-3/1024/42.png" alt="">
				<span class="module__time">18:36</span><br>
				<img src="http://pixsector.com/cache/0266455f/ava13c3ac53812cde1b88.png" alt="">
				<span class="module__date">2/4</span>
			</article>
			<article class="module">
				<img src="http://images.clipartpanda.com/smiley-face-png-96527038_o.png" alt="" class="module__image">
				<span class="module__score">7</span><br>
				<img src="https://cdn0.iconfinder.com/data/icons/iconico-3/1024/42.png" alt="">
				<span class="module__time">18:36</span><br>
				<img src="http://pixsector.com/cache/0266455f/ava13c3ac53812cde1b88.png" alt="">
				<span class="module__date">2/4</span>
			</article>
			<article class="module">
				<img src="http://images.clipartpanda.com/smiley-face-png-96527038_o.png" alt="" class="module__image">
				<span class="module__score">7</span><br>
				<img src="https://cdn0.iconfinder.com/data/icons/iconico-3/1024/42.png" alt="">
				<span class="module__time">18:36</span><br>
				<img src="http://pixsector.com/cache/0266455f/ava13c3ac53812cde1b88.png" alt="">
				<span class="module__date">2/4</span>
			</article>
			<article class="module">
				<img src="http://images.clipartpanda.com/smiley-face-png-96527038_o.png" alt="" class="module__image">
				<span class="module__score">7</span><br>
				<img src="https://cdn0.iconfinder.com/data/icons/iconico-3/1024/42.png" alt="">
				<span class="module__time">18:36</span><br>
				<img src="http://pixsector.com/cache/0266455f/ava13c3ac53812cde1b88.png" alt="">
				<span class="module__date">2/4</span>
			</article>
			<article class="module">
				<img src="http://images.clipartpanda.com/smiley-face-png-96527038_o.png" alt="" class="module__image">
				<span class="module__score">7</span><br>
				<img src="https://cdn0.iconfinder.com/data/icons/iconico-3/1024/42.png" alt="">
				<span class="module__time">18:36</span><br>
				<img src="http://pixsector.com/cache/0266455f/ava13c3ac53812cde1b88.png" alt="">
				<span class="module__date">2/4</span>
			</article>
			<article class="module">
				<img src="http://images.clipartpanda.com/smiley-face-png-96527038_o.png" alt="" class="module__image">
				<span class="module__score">7</span><br>
				<img src="https://cdn0.iconfinder.com/data/icons/iconico-3/1024/42.png" alt="">
				<span class="module__time">18:36</span><br>
				<img src="http://pixsector.com/cache/0266455f/ava13c3ac53812cde1b88.png" alt="">
				<span class="module__date">2/4</span>
			</article>
			</center>
		</div>
	</body>
</html>