<html>
<head>
	<title>History&mdash;Intraspect</title>
	<link href="/css/main.css" rel="stylesheet">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	 <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	 <style type="text/css">
	 	.card .card-action {
	 		padding: 16px 4px;
	 		display: flex;
	 		justify-content: space-around;
	 		/*overflow: auto;*/
	 	}

	 	.card {
	 		/*overflow: auto;*/
	 	}
	 </style>
</head>
	<body>
		<nav>
   <div class="nav-wrapper">
	 <a href="/homepage" class="brand-logo">Intraspect</a>
	 <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	 <ul class="right hide-on-med-and-down">
		 <li><a href="/homepage">Home</a></li>
	     <li><a href="/history">History</a></li>
	     <li><a href="/profile">Profile</a></li>
	     <li><a href="/settings">Settings</a></li>
	   </ul>
	   <ul class="side-nav" id="mobile-demo">
	     <li><a href="/homepage">Home</a></li>
	     <li><a href="/history">History</a></li>
	     <li><a href="/profile">Profile</a></li>
	     <li><a href="/settings">Settings</a></li>
	 </ul>
   </div>
 </nav>

	<div class="container">

		<div class="row">
			<div class="col s6">

				<div class="card">
				    <div class="card-image waves-effect waves-block waves-light">
				      <img class="activator" src="https://lorempixel.com/100/100/nature/5">
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">Yoga<i class="material-icons right">more_vert</i></span>
				      <div class="card-action card-action--dual">
					 <span><i class="material-icons">filter_tilt_shift</i>7</span>
					<span><i class="material-icons">access_time</i>7:30pm</span>

				   </div>
				   <div class="card-action card-action--mono">
				   	<div class="chip">happy</div>
					 <div class="chip">relaxed</div><div class="chip">relaxed</div><div class="chip">relaxed</div>
				   </div>
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-4">Yoga<i class="material-icons right">close</i></span>
				      <p>Here is some more information about this product that is only revealed once clicked on dsfds f dsf dsf ds fds fds fdsfdsfds f dsf ds fds fds f s fsd fds .</p>
				    </div>
				  </div>
		   	</div>

		   	<div class="col s6">

				<div class="card">
				    <div class="card-image waves-effect waves-block waves-light">
				      <img class="activator" src="https://lorempixel.com/100/100/nature/5">
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">Yoga<i class="material-icons right">more_vert</i></span>
				      <div class="card-action card-action--dual">
					 <span><i class="material-icons">filter_tilt_shift</i>7</span>
					<span><i class="material-icons">access_time</i>7:30pm</span>

				   </div>
				   <div class="card-action card-action--mono">
				   	<div class="chip">happy</div>
					 <div class="chip">relaxed</div>
				   </div>
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-4">Yoga<i class="material-icons right">close</i></span>
				      <p>Here is some more information about this product that is only revealed once clicked on dsfds f dsf dsf ds fds fds fdsfdsfds f dsf ds fds fds f s fsd fds .</p>
				    </div>
				  </div>
		   	</div>

		   	<div class="col s6">

				<div class="card">
				    <div class="card-image waves-effect waves-block waves-light">
				      <img class="activator" src="https://lorempixel.com/100/100/nature/5">
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">Yoga<i class="material-icons right">more_vert</i></span>
				      <div class="card-action card-action--dual">
					 <span><i class="material-icons">filter_tilt_shift</i>7</span>
					<span><i class="material-icons">access_time</i>7:30pm</span>

				   </div>
				   <div class="card-action card-action--mono">
				   	<div class="chip">happy</div>
					 <div class="chip">relaxed</div>
				   </div>
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-4">Yoga<i class="material-icons right">close</i></span>
				      <p>Here is some more information about this product that is only revealed once clicked on dsfds f dsf dsf ds fds fds fdsfdsfds f dsf ds fds fds f s fsd fds .</p>
				    </div>
				  </div>
		   	</div>

		   	<div class="col s6">

				<div class="card">
				    <div class="card-image waves-effect waves-block waves-light">
				      <img class="activator" src="https://lorempixel.com/100/100/nature/5">
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">Yoga<i class="material-icons right">more_vert</i></span>
				      <div class="card-action card-action--dual">
					 <span><i class="material-icons">filter_tilt_shift</i>7</span>
					<span><i class="material-icons">access_time</i>7:30pm</span>

				   </div>
				   <div class="card-action card-action--mono">
				   	<div class="chip">happy</div>
					 <div class="chip">relaxed</div>
				   </div>
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-4">Yoga<i class="material-icons right">close</i></span>
				      <p>Here is some more information about this product that is only revealed once clicked on dsfds f dsf dsf ds fds fds fdsfdsfds f dsf ds fds fds f s fsd fds .</p>
				    </div>
				  </div>
		   	</div>


		</div>


</div>

		<script type="text/javascript">
			$( document ).ready(function(){

				$(".button-collapse").sideNav();
			});
		</script>
	</body>
</html>
