<html>
	<head>
		<title>History - Intraspect</title>
	<link href="/css/main.css" rel="stylesheet">
	
	</head>
	<body>
		<div class="nav">
			<a href="/">Home</a>
			<a href="/history">History</a>
			<a href="/profile">Profile</a>
			<a href="/analytics">Analytics</a>
			<a href="/settings">Settings</a>
		</div>
		
		<p>History</p>

		<div class="container">
			<article class="module">
				<img src="http://images.clipartpanda.com/smiley-face-png-96527038_o.png" alt="" class="module__image">
				<h3 class="module__score">7</h3>
				<img src="https://cdn0.iconfinder.com/data/icons/iconico-3/1024/42.png" alt="">
				<h4 class="module__time">18:36</h4>
				<img src="http://pixsector.com/cache/0266455f/ava13c3ac53812cde1b88.png" alt="">
				<h4 class="module__date">2/4</h4>
			</article>
		</div>
	</body>
</html>