<html>
<head>
	<title>Intraspect</title>
</head>
	<body>
		<p>Hello, {{username}}</p>
		<div class="">Slider here</div>
		<hr>
		<form id="mainform">
			<textarea name="reason">Why do you feel this way?</textarea>
			<br>
			<button>Submit</button>
		</form>
	</body>
</html>
