<html>
<head>
	<title>Intraspect</title>
	<link href="/css/main.css" rel="stylesheet">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	 <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
	<body>
		<div class="nav">
			<a href="/">Home</a>
			<a href="/history">History</a>
			<a href="/profile">Profile</a>
			<a href="/analytics">Analytics</a>
			<a href="/settings">Settings</a>
		</div>
		<form id="mainform">

				<h3 class="happy">How happy do you feel?</h3><br>
				<input type="range" min="0" max="100">

			<!-- <hr> -->
			<textarea name="reason">Why do you feel this way?</textarea>
			<br>

			<ul>

				<h4>Add Tags:</h4>
				<li><input type="checkbox"> Elated</li>
				<li><input type="checkbox"> Playful</li>
				<li><input type="checkbox"> Excited</li>
				<li><a href="#">+ Create New Tag</a></li>
			</ul>

			<button>Submit</button>
		</form>
	</body>
</html>
