<!doctype html>
<html>
<head>
    <title>Signup&mdash;Intraspect</title>
	<link href="/css/main.css" rel="stylesheet">
	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	 <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	 <link href="https://fonts.googleapis.com/css?family=Arsenal:400,400i,700,700i|Barlow:300,300i,400,400i,700,700i|Fira+Sans+Extra+Condensed:300,300i,400,400i,700,700i,900,900i|Mada:400,500,600,700,900|Nanum+Gothic:400,700,800|Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Nunito:400,400i,600,600i,800,800i,900,900i" rel="stylesheet">
	 <link rel="stylesheet" href="/css/canine.css">
                    <!-- Global site tag (gtag.js) - Google Analytics -->
                    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115426144-1"></script>
                    <script>
                        window.dataLayer = window.dataLayer || [];
                        function gtag(){dataLayer.push(arguments);}
                        gtag('js', new Date());

                        gtag('config', 'UA-115426144-1');
                    </script>

</head>
<body>
    <nav class="grey darken-4">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Intraspect</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"></a>

        </div>
    </nav>

    {{#if message}}
                <div class="alert alert-danger">{{message}}</div>
                {{/if}}
    <div class="container">

        <p class="flow-text center intro-text">Hi newbie!</p>
        <p class="flow-text center welcome-text">Welcome to Intraspect.</p>


         <div class="row">
    <!-- LOGIN FORM -->
            <form action="/signup" method="post" class="form--login">
                <div class="form-group">
                    <center>
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" class="validate" placeholder="email">
                    </center>
                </div>
                <div class="form-group">
                    <center>
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" placeholder="password">
                    </center>
                </div>
                <center>
                    <button type="submit" class="btn btn-warning btn-lg btn-large grey darken-4">Signup</button>
                </center>
            </form>

        </div>

        <hr>

        <p class="flow-text center">Already have an account? <a href="/">Login</a></p>
        <!-- <p clas>Or go <a href="/">home</a>.</p> -->

    </div>

</div>
</body>
</html>
